body {
  background-color: #E4F9F5;
  font-family: "Gill Sans", sans-serif;
}

img {
  max-width: 250px;
  height: auto;
}

h1 {
  color: #11999E;
  font-family: "Lucida Console", "Courier New", monospace;
}

h3 {
  color: #11999E;
  font-family: "Lucida Console", "Courier New", monospace;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 2.5%;
}
